{% extends 'adminpanel/base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h6 class="card-title ">Opportunity</h6>
              <p class="card-category"> Here is a subtitle for this table</p><br/>
            </div>
            <div class="row">
              <div class="container col-md-4 col-sm-4" style="padding: 16px;">
                <h3>Advance Search</h3>
                        <div class="col-6">
                          <form action="{% url 'opportunities' %}" method="POST">
                            {% csrf_token %}
                        <select name="industries" class="custom-select custom-select-lg mb-3">
                              <option value="industries">Industries</option>
                              <option value="industries">india</option>
                              <option value="">india</option>
                              <option value="">india</option>
                              <option value="">india</option>
                        </select>
                        <select name="company" class="custom-select custom-select-lg mb-3">
                            <option value="company">Company</option>
                            <option value="company">india</option>
                            <option value="">india</option>
                            <option value="">india</option>
                            <option value="">india</option>
                        </select>
                        <select name="Country" class="custom-select custom-select-lg mb-3">
                          <option value="Country">Country</option>
                          <option value="Country">india</option>
                          <option value="">india</option>
                          <option value="">india</option>
                          <option value="">india</option>
                      </select>
                      <select name="Business Type" class="custom-select custom-select-lg mb-3">
                        <option value="businesstype">Business Type</option>
                        <option value="businesstype">india</option>
                        <option value="">india</option>
                        <option value="">india</option>
                        <option value="">india</option>
                    </select>
                    <select name="Commission" class="custom-select custom-select-lg mb-3">
                      <option value="Commission">Commission %</option>
                      <option value="Commission">india</option>
                      <option value="">india</option>
                      <option value="">india</option>
                      <option value="">india</option>
                  </select>
                  <select name="Other" class="custom-select custom-select-lg mb-3">
                    <option value="Other">Other</option>
                    <option value="Other">india</option>
                    <option value="">india</option>
                    <option value="">india</option>
                    <option value="">india</option>
                </select>
                  <button type="submit" class="btn btn-info lg-btn px-5">Search</button>
                        </div>
                          
                  </div>
                <div class="container col-md-7 col-sm-6">
                  <button class="btn btn-success">All </button>
                  <button class="btn btn-info">Most recent</button>
                  <button class="btn btn-warning">Popular</button>
                </div>
              </div>
           
      {%endblock%}