{% extends 'adminpanel/base.html' %}
{% load static %}
{% block content %}
<style>
  .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #95999a3d;
    border-radius: 0.3rem;
}
.btn{
  width: -webkit-fill-available;
}
</style>
      <br/><br/><br/><br/>
      <div class="container fluid pt-5">  
        <div class="row">

        <div class="col-md-3 col-sm-3">
          <div class="jumbotron">
            <h4 align="center"><b>Idea</b></h4>
            <button type="button" class="btn btn-info">First Lead</button>
            <button type="button" class="btn btn-info">Second Lead</button>
            <button type="button" class="btn btn-info">Third Lead </button>
            <button type="button" class="btn btn-info">Fourth Lead</button>
            <button type="button" class="btn btn-info">Fifth Lead</button>
            <button type="button" class="btn btn-info">Sixth Lead</button>
            <button type="button" class="btn btn-info">Seventh Lead</button>
            <button type="button" class="btn btn-info">Eight Lead</button>
            <button type="button" class="btn btn-info">Nine Lead</button>
            <button type="button" class="btn btn-info">Tenth Lead</button>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="jumbotron">
            <h4 class="text-center"><b>Contacted</b></h4>
            <button type="button" class="btn btn-info">First Lead</button>
            <button type="button" class="btn btn-info">Second Lead</button>
            <button type="button" class="btn btn-info">Third Lead </button>
            <button type="button" class="btn btn-info">Fourth Lead</button>
            <button type="button" class="btn btn-info">Fifth Lead</button>
            <button type="button" class="btn btn-info">Sixth Lead</button>
            <button type="button" class="btn btn-info">Seventh Lead</button>
            <button type="button" class="btn btn-info">Eight Lead</button>
            <button type="button" class="btn btn-info">Nine Lead</button>
            <button type="button" class="btn btn-info">Tenth Lead</button>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="jumbotron">
            <h4 class="text-center"><b>Discovery</b></h4>
            <button type="button" class="btn btn-info">First Lead</button>
            <button type="button" class="btn btn-info">Second Lead</button>
            <button type="button" class="btn btn-info">Third Lead </button>
            <button type="button" class="btn btn-info">Fourth Lead</button>
            <button type="button" class="btn btn-info">Fifth Lead</button>
            <button type="button" class="btn btn-info">Sixth Lead</button>
            <button type="button" class="btn btn-info">Seventh Lead</button>
            <button type="button" class="btn btn-info">Eight Lead</button>
            <button type="button" class="btn btn-info">Nine Lead</button>
            <button type="button" class="btn btn-info">Tenth Lead</button>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="jumbotron">
            <h4 class="text-center"><b>Presentation</b></h4>
            <button type="button" class="btn btn-info">First Lead</button>
            <button type="button" class="btn btn-info">Second Lead</button>
            <button type="button" class="btn btn-info">Third Lead </button>
            <button type="button" class="btn btn-info">Fourth Lead</button>
            <button type="button" class="btn btn-info">Fifth Lead</button>
            <button type="button" class="btn btn-info">Sixth Lead</button>
            <button type="button" class="btn btn-info">Seventh Lead</button>
            <button type="button" class="btn btn-info">Eight Lead</button>
            <button type="button" class="btn btn-info">Nine Lead</button>
            <button type="button" class="btn btn-info">Tenth Lead</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}