{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              <div class="entry-img">
                <img src="{% static 'assets/img/insight/foreigners.jpg' %}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="{% url 'blog1' %}">WHY FOREIGNER SHOULD DO BUSINESS IN INDIA?</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="{% url 'blog1' %}">By connect195</a></li>
                  <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="{% url 'blog1' %}"><time datetime="2020-08-29">August 29, 2020</time></a></li>
                  <li class="d-flex align-items-center"><i class="icofont-comment"></i> <a href="{% url 'blog1' %}">0 Comments</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  With being one of fastest expanding economy in the world and having a rapidly expanding consumer class, 
                  analyst forecasts that India will be the fifth largest consumer market in 2025. 
                  And is currently ninth largest in the world by nominal GDP and the third largest by purchasing power parity (PPP). 
                  Which is a gold mine of opportunities for starting and growing business, in a very wide range of sectors. 
                  Addition to this having stable central govt, strong central bank, 
                  and almost steady economy makes it highly lucrative destination to do business.
                </p>
                <p>
                  But everything is not served on a silver tray, 
                  you need to give a lot of consideration to this move because it can easily go wrong and 
                  businesses can be compelled to incur grave losses.  Starting the right kind of presence can make a difference between
                  success and wasted efforts in which most important part to consider is implementation of the business strategy. 
                  Foreign companies, before entering the Indian market should consider that.
                </p>

                <!-- <blockquote>
                  <i class="icofont-quote-left quote-left"></i>
                  <p>
                  </p>
                  <i class="las la-quote-right quote-right"></i>
                  <i class="icofont-quote-right quote-right"></i>
                </blockquote> -->

                <p>
                  The majority of the world’s leading developed nations are keen to have or expand their ties with India. 
                  Having <strong>300 million people as middle class counts</strong>, comparable in size to the entire European Union’s market. 
                  <strong>It’s worth starting a business here as no other country offers a market as gigantic as India.</strong> 
                  Also, fast-developing spending habits of middle-class Indians, makes it a lucrative destination for investors over 
                  other major countries be it any country around the globe. 
                  With a 5,000 year heritage of welcoming foreigners to its shores,<strong> INDIA WELCOMES DIVERSITY</strong>
                </p>
                <img src="{% static 'assets/img/insight/blog1/1.jpg' %}" class="img-fluid" alt="">
                <br/>
                <p>
                  Doing business in India has several advantages because of its development-friendly reforms. 
                  Indians central govt and central bank (RBI) works in such a way that they shield its market from any global disruption. 
                  For e.g. global economic slowdown has negligible impact on Indian market. 
                  Because of its several advantages, foreign businesses can clearly take advantage of what the Indian economy has to offer, 
                  in order to execute growth and expansion strategies.
                </p>
                <p>
                  <ol>
                    <li>
                      <strong>HUGE AND PROMISING MARKET</strong>- Analysts state that by 2025, 
                      69 cities in India will have a population of over one million each. 
                      This is going to translate into a greater need for businesses to support livelihoods. 
                      Plus, unlike the early days, the people - the businessmen, 
                      the entrepreneurs in India are ready to take on big projects, and with boom in internet services, 
                      small start-ups which can find innovative solutions to problems. Further, 
                      the transition from the rural to the urban areas will mean that a greater portion of the population 
                      will join the middle-income strata. Such opportunities offered in India should be one of the key reasons to 
                      establish one’s venture in this country.
                    </li>
                    <li>
                      <strong>GREAT LABOUR FORCE</strong>- With the world's second largest Labour force, 
                      of approximately 520 million people. India boasts a labor force majority of which is under 30 years of age. 
                      It is a huge pool of skilled manpower, professional managers and semiskilled and unskilled Labour available at a 
                      comparatively moderate cost, often just a fraction of the rates prevailing in developed countries. 
                      Businesses can leverage this opportunity by generating employment and increasing productivity. 
                      Further, the aspirations of the Indians working eight hour shifts six days a week. 
                      When working for organizations which require communication on a regular basis with people in countries such as the US or the UK, 
                      they will willingly work shifts around the clock to compensate for the time difference.
                      This group of highly dedicated Indian workforce, willing to work long shifts over unusual hours, 
                      is a huge benefit for international organisations doing business in India.
                    </li>
                    <li>
                      <strong>FAVOURABLE FDI POLICY</strong>- With favorable FDI policies in place, Apart from few strategic sectors, 
                      every other sector of the economy has been opened for free flow of Foreign Direct Investment of up to 100 percent into 
                      private limited company or limited company that no longer requires the Central Government’s intervention. 
                      Which makes ours country FDI policy a top-notch and also reduces the overall cost of setting up a business in India.
                    </li>
                    <li>
                      <strong>LOW COST OF DOING BUSINESS</strong>- As compare to UK, US and Singapore the cost of establishing business 
                      in India is very low. Whether it’s about basic amenities or it is investing in infrastructure, 
                      Labour, food, transportation, Internet, or even taxes. Everything is much more affordable.
                    </li>
                    <li>
                      <strong>FRIENDLY BUSINESS ENVIRONMENT</strong>- In a bid to make the ease of doing business seamlessly, 
                      the government’s introduction starting from the Goods and Services Tax Bill to the Direct Taxes Code Bill, 
                      these bills are going to introduce transparency and uniformity in the Indian economy. 
                      Also the insolvency and bankruptcy code which review demonstrates the fact that country is best place to invest. 
                      These business-friendly laws make it easy for international players to actualize their plans of entering India.
                    </li>
                    <li>
                      <strong>GOVERNMENT INITIATIVES</strong>- Under administration of Modi’s government, the business terrain has seen lots of improvements in the inflow of FDI. 
                      “STARTUP INDIA”, “DIGITAL INDIA”, “SMART CITIES”, as well as “SKILL INDIA”, are some of the initiatives targeted by 
                      governments towards business. Additionally, the Indian government’s MAKE IN INDIA initiative which focuses on 25 
                      industrial sectors and aims at building best-in-class manufacturing infrastructure by enabling foreign investments, 
                      promoting innovation through skill development, and focusing on intellectual property protection
                    </li>
                  </ol>
                </p>
                <img src="{% static 'assets/img/insight/blog1/2.jpg' %}" class="img-fluid" alt="">
                <br/>
                <p>
                  Not considering expanding a business to India means ignoring one of the most promising (if not the most!) 
                  new markets of the decade to come. Because of its several advantages, foreign businesses
                  can clearly take advantage of what the Indian economy has to offer, in order to execute growth and expansion 
                  strategies.
                </p>

              </div>

              <div class="entry-footer clearfix">
                <div class="float-left">
                  <i class="icofont-folder"></i>
                  <ul class="cats">
                    <li><a href="{% url 'blog1' %}">Business</a></li>
                  </ul>

                  <i class="icofont-tags"></i>
                  <ul class="tags">
                    <li><a href="{% url 'blog1' %}">In India</a></li>
                    <li><a href="{% url 'blog1' %}">India</a></li>
                    <li><a href="{% url 'blog1' %}">Make in India</a></li>
                    <li><a href="{% url 'blog1' %}">Investment</a></li>
                  </ul>
                </div>

                <div class="float-right share">
                  <a href="" title="Share on Twitter"><i class="icofont-twitter"></i></a>
                  <a href="" title="Share on Facebook"><i class="icofont-facebook"></i></a>
                  <a href="" title="Share on Instagram"><i class="icofont-instagram"></i></a>
                </div>

              </div>

            </article><!-- End blog entry -->

            <div class="blog-author clearfix">
              <img src="{% static 'assets/img/insight/blog1/writer.jpg' %}" class="rounded-circle float-left" alt="">
              <h4>connect195</h4>
              <div class="social-links">
                <a href="https://twitters.com/#"><i class="icofont-twitter"></i></a>
                <a href="https://facebook.com/#"><i class="icofont-facebook"></i></a>
                <a href="https://instagram.com/#"><i class="icofont-instagram"></i></a>
              </div>
            </div><!-- End blog author bio -->

            <div class="blog-comments">

              <h4 class="comments-count">0 Comments</h4>

              <!-- <div id="comment-1" class="comment clearfix">
                <img src="assets/img/comments-1.jpg" class="comment-img  float-left" alt="">
                <h5><a href="">Georgia Reader</a> <a href="#" class="reply"><i class="icofont-reply"></i> Reply</a></h5>
                <time datetime="2020-01-01">01 Jan, 2020</time>
                <p>
                </p>

              </div>End comment #1 -->
            
              <div class="reply-form">
                <h4>Leave a Reply</h4>
                <p>Your email address will not be published. Required fields are marked * </p>
                <form action="">
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input name="name" type="text" class="form-control" placeholder="Your Name*">
                    </div>
                    <div class="col-md-6 form-group">
                      <input name="email" type="text" class="form-control" placeholder="Your Email*">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <input name="website" type="text" class="form-control" placeholder="Your Website">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <textarea name="comment" class="form-control" placeholder="Your Comment*"></textarea>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Post Comment</button>

                </form>

              </div>
            </div><!-- End blog comments -->
          </div><!-- End blog entries list -->
          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="icofont-search"></i></button>
                </form>

              </div><!-- End sidebar search formn-->

              <h3 class="sidebar-title">Recent Posts</h3>
              <div class="sidebar-item recent-posts">
                <div class="post-item clearfix">
                  <img src="{% static 'assets/img/insight/namkeen.jpg' %}" alt="">
                  <h4><a href="{% url 'blog2' %}">How to start Namkeen Business?</a></h4>
                  <time datetime="2020-08-29">August 29, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="{% static 'assets/img/insight/ipo.jpg' %}" alt="">
                  <h4><a href="{% url 'blog3' %}">Pre IPO Investment.</a></h4>
                  <time datetime="2020-08-29">August 29, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="{% static 'assets/img/insight/women.jpg' %}" alt="">
                  <h4><a href="{% url 'blog4' %}">How Women Are Transforming the Workspace.</a></h4>
                  <time datetime="2020-08-29">August 29, 2020</time>
                </div>

              </div><!-- End sidebar recent posts-->

              <h3 class="sidebar-title">Tags</h3>
              <div class="sidebar-item tags">
                <ul>
                  <li><a href="#">App</a></li>
                  <li><a href="#">IT</a></li>
                  <li><a href="#">Business</a></li>
                  <li><a href="#">Business</a></li>
                  <li><a href="#">Mac</a></li>
                  <li><a href="#">Design</a></li>
                  <li><a href="#">Office</a></li>
                  <li><a href="#">Creative</a></li>
                  <li><a href="#">Studio</a></li>
                  <li><a href="#">Smart</a></li>
                  <li><a href="#">Tips</a></li>
                  <li><a href="#">Marketing</a></li>
                </ul>

              </div><!-- End sidebar tags-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->
        </div>
      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->
  {% endblock %}