{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

      </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              <div class="entry-img">
                <img src="{% static 'assets/img/insight/ipo.jpg' %}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="{% url 'blog1' %}">Pre IPO Investment</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="{% url 'blog1' %}">By connect195</a></li>
                  <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="{% url 'blog1' %}"><time datetime="2020-08-29">August 29, 2020</time></a></li>
                  <li class="d-flex align-items-center"><i class="icofont-comment"></i> <a href="{% url 'blog1' %}">0 Comments</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                    Pre- IPO investing is where the money is. 
                    In the past it used to be only for High Net-worth Individuals as the average investor was only able to invest 
                    their money in public limited company which has been listed on the stock market. 
                    But things have changed and there is an o opportunity for an average investor to 
                    buy stock in potential companies which are seeing growth. Startups are bit risky, 
                    having said that they also have the potential to bring massive returns that you don’t see on the stock market. 
                    This is the reason why one should consider investing in pre- IPO companies.
                </p>
                <p>
                  <ol>
                    <li>
                        <h3>What Is Pre-IPO Investing?</h3>
                        Pre-IPO investing is when you in invest in a private or public limited company 
                        before it is listed on the stock market with its Initial Public Offering (IPO). 
                        And an IPO is when the company starts trading on a public market for the very first time. 
                        Pre- IPO shares are not available to everyone because of lack of information or 
                        the public are not aware about it. Earlier Pre-IPO shares was limited to investors, private equity firms, 
                        hedge funds and a few other groups who were aware about the Pre-IPO. But that’s no longer the problem. 
                        Any one can invest in Pre- IPO stage by choosing the right company. Seeing its growth pattern of the company. 
                        There are provisions now that a company can dematerialised their shares and anyone can buy these shares and 
                        transfer from one demat account to another with ease.
                        <br/>
                    </li>
                    <li>
                        <h3>Should You Invest in Pre-IPO Companies?</h3>
                        The most important reason to invest in pre-IPO is the return that you get out of it. 
                        It can lead to maximum returns for the investment. Let’s see few examples of pre-IPO shares as compared with the 
                        normal stock return Since the start of the stock market, it’s historically returned an average of 10% annually. 
                        That’s before inflation
                        <br/>
                        <br/>
                        <h5 style="color:#d9232d;text-decoration: underline;">Case study</h5>
                        
                        
                        Ex. Reliance Capital invested Rs 10 crore in 2010 for a 1.5% stake in One97 in anticipation of a
                        public listing of shares by the Paytm owner, a plan which was later dropped.
                        At that time, the shares of One97 were valued between Rs 250 to Rs 200 said the person cited above. 
                        After One97 raised additional capital, this stake got diluted to 0.83%.
                        <br/>
                        <br/>
                        "In the current sale, shares of Paytm have traded at over Rs 7,000 per unit," source ET
                        <br/>
                        <br/>
                        But Ex. let’s use Snapchat (NYSE: SNAP) as an example. The company went public in 2017. Let’s say you invested $100 in the early days before it went public. Your $100 would have turned into $22,000. That’s a 21,900% gain!
                        <br/>
                        Snapchat and other technology stocks have great potential in the stock market. Although you can see that early investors make some of the biggest gains before they go public. You can now get in on that action as well.
                        <br/>
                        Another benefit is avoiding stock market volatility. Depending on the company, preIPO investing isn’t affected as much by events such as the 2008 financial crisis or the 2020 coronavirus pandemic. On the other hand, the events can still impact companies. And that will impact your investment.
                        <br/>
                        However, just like the stock market, pre-IPO investing comes with risk. And sometimes it’s a lot of risk. Startup companies aren’t guaranteed to succeed. So when an investment fails, there aren’t any returns. Just losses.
                        <br/>
                        However, just like the stock market, investing in pre-IPO also comes with risk. And sometimes these risk are more because not all startup companies are going to succeed so when the startup fails so does the investments.
                        <br/>
                        But companies know this risk exists. To make up for it, companies often offer shares at a discounted price. This brings in investors, but it also protects the company. If it goes public and the IPO isn’t successful, the company still has funds raised from private investing.
                        <br/>
                        So if you’re thinking pre-IPO investing might be right for you, the next question is…
                        <br/>
                    </li>
                    <li>
                        <h3>How Do You Invest in Pre-IPO Shares?</h3>
                        Finding the right companies is difficult and it’s even more difficult to find a way to invest in these companies. 
                        But there are certain ways by which you can invest in these growing startups for eg;
                        <ol>
                            <li>Speak with any advisory firm specializing in capital raising and pre-IPO shares. They can give you advice and direction on how to invest with a preIPO company.</li>
                            <li>Follow news as to which companies are growing in the startup category.</li>
                            <li>Talk to your local bankers about companies looking for investments.</li>
                            <li>Build more business network.</li>
                            <li>Become an angel investor and establish yourself in the angel community.</li>
                        </ol>

                        <a href="{% url 'contact' %}" style="color:#d9232d;text-decoration: underline;">Contact</a> us for more :
                        <br/>
                        If you’re not sure about pre-IPO listings you can always contact us. 
                        As an incubator we come across various promising startup and SME that have huge potential to grow. 
                        As a part of our incubation model we help these companies grow and make them ready to launch their Startup and SME IPO. 
                        We can recommend some companies where you can become an angel investor and get the maximum gains when the company is going public. 
                        Invest in guided pre-IPO and get the maximum benefits when these companies grow.
                        <br/>
                        <br/>
                        So, If you have decided that you want to invest before ipo, we have experts who would help you sail through in this journey. 
                        <a href="{% url 'contact' %}" style="color:#d9232d;text-decoration: underline;">Contact</a> us 
                    </li>
                  </ol>
                </p>
                <p>
                    <h3>HBF Sucessfully work with investors those go pre IPO</h3> We have
                </p>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-lg-3">
                            <div class="stat">
                                <span class="stat-count">1300</span>
                                <p class="stat-detail">Indian Investors</p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-lg-3">
                            <div class="stat">
                                <span class="stat-count">479</span>
                                <p class="stat-detail">successful Investors</p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-lg-3">
                            <div class="stat">
                                <span class="stat-count">800</span>
                                <p class="stat-detail">Projects</p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-lg-3">
                            <div class="stat">
                                <span class="stat-count">100</span><span>+</span>
                                <p class="stat-detail">experts</p>   
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <p>
                    <strong>We are Happy to Help You!</strong><br/>
                        We are one click away to get in touch with you
                    <a href="{% url 'contact' %}" style="color:#d9232d;text-decoration: underline;">Contact</a> us
                </p>
              </div>

              <div class="entry-footer clearfix">
                <div class="float-left">
                  <i class="icofont-folder"></i>
                  <ul class="cats">
                    <li><a href="{% url 'blog1' %}">Business</a></li>
                  </ul>

                  <i class="icofont-tags"></i>
                  <ul class="tags">
                    <li><a href="{% url 'blog1' %}">In India</a></li>
                    <li><a href="{% url 'blog1' %}">India</a></li>
                    <li><a href="{% url 'blog1' %}">Make in India</a></li>
                    <li><a href="{% url 'blog1' %}">Investment</a></li>
                  </ul>
                </div>

                <div class="float-right share">
                  <a href="" title="Share on Twitter"><i class="icofont-twitter"></i></a>
                  <a href="" title="Share on Facebook"><i class="icofont-facebook"></i></a>
                  <a href="" title="Share on Instagram"><i class="icofont-instagram"></i></a>
                </div>

              </div>

            </article><!-- End blog entry -->

            <div class="blog-author clearfix">
              <img src="{% static 'assets/img/insight/blog1/writer.jpg' %}" class="rounded-circle float-left" alt="">
              <h4>Bob Singh</h4>
              <div class="social-links">
                <a href="https://twitters.com/#"><i class="icofont-twitter"></i></a>
                <a href="https://facebook.com/#"><i class="icofont-facebook"></i></a>
                <a href="https://instagram.com/#"><i class="icofont-instagram"></i></a>
              </div>
            </div><!-- End blog author bio -->

            <div class="blog-comments">

              <h4 class="comments-count">0 Comments</h4>

              <!-- <div id="comment-1" class="comment clearfix">
                <img src="assets/img/comments-1.jpg" class="comment-img  float-left" alt="">
                <h5><a href="">Georgia Reader</a> <a href="#" class="reply"><i class="icofont-reply"></i> Reply</a></h5>
                <time datetime="2020-01-01">01 Jan, 2020</time>
                <p>
                </p>

              </div>End comment #1 -->
            
              <div class="reply-form">
                <h4>Leave a Reply</h4>
                <p>Your email address will not be published. Required fields are marked * </p>
                <form action="">
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input name="name" type="text" class="form-control" placeholder="Your Name*">
                    </div>
                    <div class="col-md-6 form-group">
                      <input name="email" type="text" class="form-control" placeholder="Your Email*">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <input name="website" type="text" class="form-control" placeholder="Your Website">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <textarea name="comment" class="form-control" placeholder="Your Comment*"></textarea>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Post Comment</button>

                </form>

              </div>
            </div><!-- End blog comments -->
          </div><!-- End blog entries list -->
          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="icofont-search"></i></button>
                </form>

              </div><!-- End sidebar search formn-->

              <h3 class="sidebar-title">Recent Posts</h3>
              <div class="sidebar-item recent-posts">
                <div class="post-item clearfix">
                  <img src="{% static 'assets/img/insight/namkeen.jpg' %}" alt="">
                  <h4><a href="{% url 'blog2' %}">How to start Namkeen Business?</a></h4>
                  <time datetime="2020-08-29">August 29, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="{% static 'assets/img/insight/foreigners.jpg' %}" alt="">
                  <h4><a href="{% url 'blog1' %}">WHY FOREIGNER SHOULD DO BUSINESS IN INDIA?</a></h4>
                  <time datetime="2020-08-29">August 29, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="{% static 'assets/img/insight/women.jpg' %}" alt="">
                  <h4><a href="{% url 'blog4' %}">How Women Are Transforming the Workspace.</a></h4>
                  <time datetime="2020-08-29">August 29, 2020</time>
                </div>

              </div><!-- End sidebar recent posts-->

              <h3 class="sidebar-title">Tags</h3>
              <div class="sidebar-item tags">
                <ul>
                  <li><a href="#">App</a></li>
                  <li><a href="#">IT</a></li>
                  <li><a href="#">Business</a></li>
                  <li><a href="#">Business</a></li>
                  <li><a href="#">Mac</a></li>
                  <li><a href="#">Design</a></li>
                  <li><a href="#">Office</a></li>
                  <li><a href="#">Creative</a></li>
                  <li><a href="#">Studio</a></li>
                  <li><a href="#">Smart</a></li>
                  <li><a href="#">Tips</a></li>
                  <li><a href="#">Marketing</a></li>
                </ul>

              </div><!-- End sidebar tags-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->
        </div>
      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

  {% endblock %}