{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="place" class="place">
      <img src="{% static 'assets/img/gurugram/img1.jpg' %}" style="width: 100%;">
    </section><!-- End places -->
    <!-- ======= Booking  Section ======= -->
    <section id="booking" class="booking">
      <div class="container">
        <div class="row content">
          <div class="col-lg-6">
            <centre>
              <h2>Gurugram Center</h2>
              <h3>Book a Guided Tour with Our Expert</h3>
              <ul>
                <li><i class="ri-check-double-line"></i> <h5>Lowest Price Guarantee </h5></li>
                <li><i class="ri-check-double-line"></i> <h5>Money Back Guarantee </h5></li>
              </ul>
            </centre>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <br>
            <div>
              <form action="forms" method="post" role="form" class="booking-form">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <input type="text" name="phone_number" class="form-control" id="phone_number" placeholder="Phone Number" data-rule="minlen:4" data-msg="Please enter at least 10 digits " />
                <input type="text" name="email" class="form-control" id="email" placeholder="Your Email Address" data-rule="minlen:4" />
                <input type="text" name="date" class="form-control" id="date" placeholder="Enter Date" data-rule="minlen:4" data-msg="Please enter valid Date"/>
                <br>
                <div><button type="submit" class="submit-btn">Submit</button></div>
              </form>
            </div>
          </div>
      </div>
    </section>
    <!-- ======= Place information  Section ======= -->
    <section id="place-info" class="place-info">
      <div class="container">
        <div class="row content">
          <div class="col-lg-4">
            <img class='photo'  src="{% static 'assets/img/gurugram/img2.jpg' %}" alt="Image 1" style="width:85%;height:550px" />
            <!-- <img class='photo'  src="{% static 'assets/img/gurugram/img3.jpg' %}" alt="Image 2" style="width:85%" /> -->
          </div>
          <div class="col-lg-4 pt-4 pt-lg-0">
            <h2>HBF Gurugram Udyog Vihar</h2>
            <h5>Udyog Vihar Phase IV, Sector 18, Gurugram</h5>
            <h4 style="color:#d9232d;">OVERVIEW</h4>

            <div class="d-flex align-items-center">
              <i class="fa fa-clock-o"></i>
              <h5 style="padding-left: 2%;">09:00 to 18:00 – Monday to Saturday</h5>
            </div>
            <h4 style="color:#d9232d;">Address</h4>
            <div class="d-flex align-items-center">
              <i class="fa fa-map-marker"></i>
              <h5 style="padding-left: 2%;">Intellectual building, 2nd floor, Udyog Vihar Phase IV, Sector 18, Gurugram, Haryana India 122001.</h5>
            </div>

            <h5 style="color:#d9232d;">Dedicated Desks</h5>
            <h5><strong>Rs.</strong>5000/month</h5>
            <h5 style="color:#d9232d;">Private Cabins</h5>
            <h5><strong>Rs.</strong>6000/month</h5>
          </div>
          <div class="row" id="map">
            <div class="col-lg-4 pt-4 pt-lg-0 maps" style="height:550px;">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11880.492291371422!2d12.4922309!3d41.8902102!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x28f1c82e908503c4!2sColosseo!5e0!3m2!1sit!2sit!4v1524815927977" frameborder="0" style="border:0;height:550px;" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======= Place Benifit  Section ======= -->
    <section id="place-benifit" class="place-benifit">
      <div class="row content">
        <div class="col-xl-3">
          
        </div>

        <div class="col-xl-9">
          <h2>Enjoy the amenities at all spaces</h2>
          <br/>
          <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <h5><a href="#">Free Beverages</a></h5>
              </div>
              <div class="col-lg-4">
                  <h5><a href="#">High-Speed Internet</a></h5>
              </div>
              <div class="col-lg-4">
                  <h5><a href="#">Free Printing</a></h5>
              </div>
              <div class="col-lg-4">
                  <h5><a href="#">Meeting Rooms</a></h5>
              </div>
              <div class="col-lg-4">
                  <h5><a href="#">Personal Concierge</a></h5>
              </div>
              <div class="col-lg-4">
                  <h5><a href="#">Power Backup</a></h5>
              </div>
              <div class="col-lg-4">
                <h5><a href="#">Break Out Area</a></h5>
              </div>
              <div class="col-lg-4">
                <h5><a href="#">24x7 Access</a></h5>
              </div>
              <div class="col-lg-4">
                <h5><a href="#">Calling Booths</a></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->
  {% endblock %}