{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url({% static 'assets/img/slide/slide-1.jpg' %})">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown" style="color:;">Welcome to <span>Connect195</span></h2>
              <h6 class="animate__animated animate__fadeInUp">The Innovative Global B2B Commission- Only Sales Platform</h6>
              <p class="animate__animated animate__fadeInUp">
                We give you everything you need to recruit, manage, train and support your commission-only
                sales team globally and saves huge sales staffing costs of companies</p>
              <!-- <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Click for Free membership Support & Services</a> -->
              <form action="{% url 'signup' %}" method="GET">
                  <select name="who" vallue="" class="form-controll" style="width: 315px;height:70px"><option>I am a Company</option><option>I am a Agent</option></select><input type="text" name="email" vallue="Emaill"  class="form-controll" placeholder="Email id" style="width: 315px;height:70px"/><input type="submit" name="search" vallue="search" class="form-controll btn-get-started animate__animated animate__fadeInUp scrollto" style="width: 315px;height:70px"/>
              </form>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <!-- <div class="carousel-item" style="background-image: url({% static 'assets/img/slide/slide-2.jpg' %})">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown"></h2>
              <p class="animate__animated animate__fadeInUp">
                Office space is so much more than desks, white boards, and computers.
                As a startup or SME, it’s your second home — it’s where you sow the seeds of your company's culture and it’s a part of your story as a founder.
                HBF Connect Incubation has 7,50,000 sq. ft. of premium Service office space with partnership of space provider companies— the perfect place to grow your company.
                You will get free support to get Professionals. 
              </p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">ASK US HOW?</a>
            </div>
          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a> -->

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <h2 style="color:red;">Connect195</h2>
            <h3 style="color:green;"><b>COMPANIES, WHAT YOU GET ACCESS TO:-</b></h3>
            <ul>
            <li><i class="ri-check-double-line"></i> <p>The world&#39;s fastest growing pool of experienced freelance sales experts</p></li>
              <li><i class="ri-check-double-line"></i> <p>Save huge amount on hiring and training</p></li>
              <li><i class="ri-check-double-line"></i> <p>More than just another basic job site- Everything you need to connect, train, manage
                and pay your new sales partners easily</p></li>
          </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h1>&nbsp;</h1>
            <h3 style="color:green;"><b>SALES FREELANCERS, WHAT YOU GET ACCESS TO:-</b></h3> 
            <ul>
              <li><i class="ri-check-double-line"></i> <p>The world&#39;s fastest growing database of top vetted companies globally</p></li>
              <li><i class="ri-check-double-line"></i> <p>Build and easily manage your ultimate sales portfolio all in one place</p></li>
              <li><i class="ri-check-double-line"></i> <p>Get paid on time, every time and apply for multiple opportunities</p></li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Clients Section ======= -->

    <div class="container">
      <div class="section-title">
        <h2 style="color:red;">Clients</h2>
        <p>Our Valuable Clients</p>
      </div>
    </div>

    <section id="clients" class="clients section-bg">
      <div class="container">

       <div class="row">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'assets/img/clients/1.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'assets/img/clients/2.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'assets/img/clients/3.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'assets/img/clients/4.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'assets/img/clients/5.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'assets/img/clients/6.png' %}" class="img-fluid" alt="">
          </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
        </div>
        <center><h1>The only <b><u style="color: red;">All in One</u></b> Solutions</h1>
        <p><b>The easiest way for companies and sales freelancers to connect and manage successful
          working partnerships globally</b></p>
        </center>
        <h4>what we offer:-</h4>
        <div class="row">
          <div class="col-md-6">
            <div class="icon-box">
              <i class="icofont-computer"></i>
              <h4><a href="#">Connect</a></h4>
              <p>Our team of expert help you to build website and mobile application to reach more customers.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="icofont-chart-bar-graph"></i>
              <h4><a href="#">Manage</a></h4>
              <p>We help that how to start your business. Provide all kind of basic support to starting a business. Our expert start helping you from basic steps.</p>
             </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="icofont-calculator"></i>
              <h4><a href="#">Collaborate</a></h4>
              <p>We provide professional support to complete all kind of accounting and compliance's work. Our connected CA firms support entrepreneurs all over India.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="icofont-lawyer"></i>
              <h4><a href="#">Sales Pipeline</a></h4>
              <p>We help you to get free legal advisory with a team of corporate lawyers.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="icofont-tasks"></i>
              <h4><a href="#">Training</a></h4>
              <p>we help entrepreneur and their team to grow, we provide training to all of them.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="icofont-tasks"></i>
              <h4><a href="#">Performance Tracking</a></h4>
              <p>Provide consultancy to Company to launch their IPO. help them to raise funding.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="icofont-money"></i>
              <h4><a href="#">Payment</a></h4>
              <p>we help entrepreneur and their team to grow, we provide training to all of them.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="icofont-support"></i>
              <h4><a href="#">Support</a></h4>
              <p>Provide consultancy to Company to launch their IPO. help them to raise funding.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Partnership Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <h2 style='font-size: 150%;'>Eco-System Partnership</h2>
        <div class="row content">
          <iframe title="vimeo-player" src="https://player.vimeo.com/video/374402839" width="740" height="400" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </section>

    <!-- <section id="partnership" class="partnership">
      <div class="container">
        <centre>
          <h2 style='font-size: 150%;'>Be our Partners</h2>
          <h4>  We’re all about growth at HBF Connect and are constantly looking for partners in this journey. </h4>
        </centre>
        <div class='box'>
          <div class="col1">
              <div>Space Partner</div>
              <h3>
                If you own a space and want to explore partnering with us,
                give us your details and we’ll get in touch with you shortly.
              </h3>
          </div>
          <div class="col2">
            <div class='box1'>
              <div>Coworking Partner</div>
              <h3>
                Convert your Co-working space or Managed office space into HBF
                Connect Incubation Centre where you can support entrepreneurs in your area 
                and you can provide our free support to entrepreneurs.
              </h3>
            </div>
            </div>
          <div class="col3">
            <div class='box2'>
              <div>Professional Partner</div>
              <h3>
                Connecting with professionals like CA, CS, Lawyers those are ready to provide
                services in our incubation centres spread across multiple cities.
              </h3>
            </div>
          </div>
        </div>
      </div>
    </section>End Partnership Section -->
    {% endblock %}


  