{% extends 'base.html' %}
{% load static %}
{% block content %}
<p>&nbsp;</p>
    <section id="pricing" class="pricing">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="box">
              <h3 style="color:#d9232d">Silver</h3>
              <ul>
                <li>HBF board Promotions free (1 post per month)</li>
                <li>Company Incorporation</li>
                <li>Limited License  & Registration</li>
                <li>Event Subscriptions</li>
                <li>Fundraising Approach</li>
                <li>CRM Lead management</li>
                <li>Customer Lead request</li>
                <li>HRM Attendance Management</li>
                <li>Leave management</li>
                <li>Task Management</li>
                <li>Accounting Software</li>
                <li>One Admin – 5 Employees</li>
                <li>Legal Quick 4 Agreement</li>
                <li>One informative call free for 15 mins</li>
                <li>Data 2 GB</li>
                <li>Expert advice on sachi advice platform</li>
              </ul>
              <div class="btn-wrap">
                <a href="{% url 'checkout' %}" class="btn-buy" >Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box featured" style="border-style: solid;">
              <h3>Platinum</h3>
              <ul>
                <li>HBF board Promotions free (1 post per Day)</li>
                <li>Company Incorporation</li>
                <li>Licence Incorporation</li>
                <li>Event Subscription</li>
                <li>Fundraising Approach</li>
                <li>Full CRM Support (2gb Data) (100 user)</li>
                <li>HRM Full access</li>
                <li>Accounting Software – Sale Purchase, Expense bill scan copy</li>
                <li>Informative Website</li>
                <li>12 agreement per year Verify Legal (Report submission chargeable)</li>
                <li>HBF board Promotions free (1 post per Day)</li>
                <li>Quick doc free</li>
                <li>Customised 5 agreement</li>
                <li>Unlimited Admin – 100 Employees</li>
                <li>ESI PF</li>
                <li>1 hr free time for call centre</li>
                <li>One free visit Quarterly</li>
                <li>Expert Call 3meetings per months (3 hr)</li>
                <li>Software changes available cost to cost</li>
                <li>Expert advice on sachi advice platform</li>
                <li>Free call access</li>
              </ul>
              <div class="btn-wrap">
                <a href="{% url 'checkout' %}" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box">
              <h3 style="color:#d9232d">Gold</h3>
              <ul>
                <li>HBF board Promotions free (1 post per Day)</li>
                <li>Company Incorporation</li>
                <li>License Incorporation</li>
                <li>Event Subscriptions</li>
                <li>Fundraising Approach</li>
                <li>Full CRM Support (2gb Data) (100 user)</li>
                <li>HRM Full access</li>
                <li>Accounting Software – Sale Purchase, Expense bill scan copy</li>
                <li>Informative Website</li>
                <li>Three Admin – 100 Employees</li>
                <li>ESI PF</li>
                <li>Quick legal docs free 10 agreement</li>
                <li>1 hr free time for call Centre</li>
                <li>Expert Call cost accordingly Software changes available on cost to cost</li>
                <li>Expert advice on sachi advice platform</li>
              </ul>
              <div class="btn-wrap">
                <a href="{% url 'checkout' %}" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Pricing Section -->

  </main><!-- End #main -->
  {% endblock %}