{% extends 'base.html' %}
{% load static %}
{% block content %}

      <p>&nbsp;</p>
      <section id="pricing" class="pricing"><br/><br/>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="box">
              <h2 style="color:#d9232d"><b>BASIC PLAN</b></h>
              <h5 style="color:green;"><b>1500 $/year</b></h5>
              <p style="color:green;"><b>Plus, 2% Commission based on Conversion</b></p>
              <ul>
                <li>Full access to our sales platform</li>
                <li>1 active sales opportunity</li>
                <li>Unlimited agent connections</li>
                <li>Unlimited search across our entire database</li>
                <li>Unlimited direct messages to and from agents</li>
                <li>Full access to our management platform, agent training portal and integrated CRM</li>
                <li>Basic placement of your sales opportunities on our public website</li>
                <li>Social media exposure</li>
                <li>Resources and support</li>
                <li>Exclusive access to Video Courses</li>
              </ul>
              <div class="btn-wrap">
                <a href="{% url 'checkout' %}" class="btn-buy" >Buy Now</a>
              </div>
            </div>
          </div>
          <!-- <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box featured" style="border-style: solid;">
              <h3>Platinum</h3>
              <ul>
                <li>HBF board Promotions free (1 post per Day)</li>
                <li>Company Incorporation</li>
                <li>Licence Incorporation</li>
                <li>Event Subscription</li>
                <li>Fundraising Approach</li>
                <li>Full CRM Support (2gb Data) (100 user)</li>
                <li>HRM Full access</li>
                <li>Accounting Software – Sale Purchase, Expense bill scan copy</li>
                <li>Informative Website</li>
                <li>12 agreement per year Verify Legal (Report submission chargeable)</li>
                <li>HBF board Promotions free (1 post per Day)</li>
                <li>Quick doc free</li>
                <li>Customised 5 agreement</li>
                <li>Unlimited Admin – 100 Employees</li>
                <li>ESI PF</li>
                <li>1 hr free time for call centre</li>
                <li>One free visit Quarterly</li>
                <li>Expert Call 3meetings per months (3 hr)</li>
                <li>Software changes available cost to cost</li>
                <li>Expert advice on sachi advice platform</li>
                <li>Free call access</li>
              </ul>
              <div class="btn-wrap">
                <a href="{% url 'checkout' %}" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div> -->

          <div class="col-lg-6 col-md-6 mt-4 mt-lg-0">
            <div class="box">
              <h2 style="color:#d9232d"><b>PREMIUM PLAN</b></h2>
              <h5 style="color:green;"><b>2500 $/year</b></h5>
              <p style="color:green;"><b>Plus, 1% Commission based on Conversion</b></p>
              <ul>
                <li>Full access to our sales platform</li>
                <li>Up to 5 active sales opportunities</li>
                <li>Automatic inclusion in our bi-weekly matching emails sent to agents</li>
                <li>Inclusion in our daily matching emails sent to new agents</li>
                <li>An interview and article posted to our blog</li>
                <li>4 featured emails sent to all relevant agents in your industry</li>
                <li>Work with referral agents who can pass you leads</li>
                <li>Premium placement of your sales opportunity on our public website</li>
                <li>Custom banner & premium badge</li>
                <li>Quarterly strategy review calls with a dedicated account manager</li>
                <li>Sample contract & free consultation with an international rep attorney</li>
                <li>Exclusive access to Video Courses</li>
              </ul>
              <div class="btn-wrap">
                <a href="{% url 'checkout' %}" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Pricing Section -->

  </main><!-- End #main -->
  {% endblock %}