{% extends 'base.html' %}
{% load static %}
{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

      </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">
        <div class="section-title">
          <p>Our Free Services With<span style="color:#d9232d;"> Membership</span></p>
        </div>

        <div class="row">
          <div class="font-weight-bold:center"></div>
          <div class="col-md-2 mt-2 mt-md-0">
            <center><div class="icon-box">
              <i><img src="{% static 'assets/img/services/compliance.png' %}"></i>
              <!-- <h4><a href="#">FREE COMPANY COMPLIANCE'S</a></h4> -->
            </div>
            <h5 align="center" class="font-weight-bold">95</h5></center>
            <span><b align="center">computer science</b></span>
          </div>
          <div class="col-md-2 mt-2 mt-md-0">
              <center><div class="icon-box">
              <i><img src="{% static 'assets/img/services/company.png' %}"></i>
              <!-- <h4><a href="#">FREE COMPANY INCORPORATION</a></h4> -->
            </div>
            <h5 align="center" class="font-weight-bold">110</h5>
            <p><b align="center">management consulting</b></p></center>
            </div>
          <div class="col-md-2 mt-2 mt-md-0">
            <center><div class="icon-box">
              <i><img src="{% static 'assets/img/services/gst.png' %}"></i>
              <!-- <h4><a href="#">FREE GST FILING</a></h4> -->
              </div>
              <h5 align="center" class="font-weight-bold">88</h5>
              <p><b align="center">internet</b></p></center>
            </div>
          <div class="col-md-2 mt-2 mt-md-0">
            <div class="icon-box">
              <center><i><img src="{% static 'assets/img/services/lawyer.png' %}"></i></center>
              <!-- <h4><a href="#">FREE LEGAL SUPPORT</a></h4> -->
            </div>
            <h5 align="center" class="font-weight-bold">98</h5>
            <p align="center"><b>design</b></p>
          </div>
          <div class="col-md-2 mt-2 mt-md-0">
          <center> <div class="icon-box">
              <i><img src="{% static 'assets/img/services/crm.png' %}"></i>
              <!-- <h4><a href="#">SALES CRM</a></h4> -->
            </div>
            <h5 class="font-weight-bold">82</h5></center>
            <p><b>human resources</b></p>
          </div>
          <div class="col-md-2 mt-2 mt-md-0">
            <center><div class="icon-box">
              <i><img src="{% static 'assets/img/services/hr.png' %}"></i>
              <!-- <h4><a href="#">VIRTUAL HR SERVICES</a></h4> -->
            </div>
            <h5 class="font-weight-bold">79</h5></center>
            <p><b>business supplies & equipment</b></p>
          </div>
          <div class="col-md-2 mt-2 mt-md-0">
            <center><div class="icon-box">
              <i><img src="{% static 'assets/img/services/profits.png' %}"></i>
                <!-- <h4><a href="#">VIRTUAL HR SERVICES</a></h4> -->
            </div>
            <h5 class="font-weight-bold">65</h5></center>
            <p><b>computer&network security</b></p>
          </div>
          <div class="col-md-2 mt-2 mt-md-0">
            <center><div class="icon-box">
              <i><img src="{% static 'assets/img/services/social.png' %}"></i>
                  <!-- <h4><a href="#">VIRTUAL HR SERVICES</a></h4> -->
            </div>
            <h5 align="center" class="font-weight-bold">55</h5>
            <span><b align="center">animation</b></span></center>
          </div>
          <div class="col-md-2 mt-2 mt-md-0">
            <center><div class="icon-box">
              <i><img src="{% static 'assets/img/services/ipo.png' %}"></i>
                   <!-- <h4><a href="#">VIRTUAL HR SERVICES</a></h4> -->
            </div>
            <h5 align="center" class="font-weight-bold">30</h5>
            <p><b align="center">accounting</b></p></center>
          </div>
          <div class="col-md-2 mt-2 mt-md-0">
            <center><div class="icon-box">
              <i><img src="{% static 'assets/img/services/ipo.png' %}"></i>
                   <!-- <h4><a href="#">VIRTUAL HR SERVICES</a></h4> -->
            </div>
            <h5 class="font-weight-bold">49</h5></center>
            <p><b>market research</b></p>
          </div>
          <div class="col-md-2 mt-2 mt-md-0">
            <center><div class="icon-box">
              <i><img src="{%  static 'assets/img/services/hr.png' %}"></i>
                   <!-- <h4><a href="#">VIRTUAL HR SERVICES</a></h4> -->
            </div>
            <h5 class="font-weight-bold">39</h5></center>
            <p><b>online publishing</b></p>
          </div>
          <div class="col-md-2 mt-2 mt-md-0">
            <center><div class="icon-box">
              <i><img src="{%  static 'assets/img/services/compliance.png' %}"></i>
                   <!-- <h4><a href="#">VIRTUAL HR SERVICES</a></h4> -->
            </div>
            <h5 class="font-weight-bold">34</h5></center>
            <p><b>events & services</b></p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">
        <div class="section-title">
          <p>Our Process & <span style="color:#d9232d">Premium Services</span></p>
        </div>
        <div class="row content">
          <div class="col-md-6">
            <ul>
              <li><i class="ri-check-double-line"></i> <h4 class="right">SOP Development </h4></li>
              <li><i class="ri-check-double-line"></i> <h4 class="left">People Management </h4></li>
              <li><i class="ri-check-double-line"></i> <h4 class="right">Market Research </h4></li>
              <li><i class="ri-check-double-line"></i> <h4 class="left">Make your business Global </h4></li>
              <li><i class="ri-check-double-line"></i> <h4 class="right">Investor Road Show </h4></li>
              <li><i class="ri-check-double-line"></i> <h4 class="left">Internal & External Audit </h4></li>
              <li><i class="ri-check-double-line"></i> <h4 class="right">IT Audit </h4></li>
              <li><i class="ri-check-double-line"></i> <h4 class="left">Training & Workshops </h4></li>
              <li><i class="ri-check-double-line"></i> <h4 class="right">Reputation Management </h4></li>
              <li><i class="ri-check-double-line"></i> <h4 class="left">Intellectual property </h4></li>
              <li><i class="ri-check-double-line"></i> <h4 class="right">OKR Development </h4></li>
              <li><i class="ri-check-double-line"></i> <h4 class="left"> Business Automation </h4></li>
            </ul>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <ul>
              <div class="icon-box">
                <li class="left">
                  <i><img src="{% static 'assets/img/services/planning.png' %}"></i> 
                  <h4>Planing</h4>
                  <p>Planning for Company Growth or launch a New Project/Product.</p>
                </li>
                <li class="right"> 
                  <i><img src="{% static 'assets/img/services/organization.png' %}"></i> 
                  <h4>Organization</h4>
                  <p>Organization OKR & Supporting Advisory Board.</p>
                </li>
                <li class="left">
                  <i><img src="{% static 'assets/img/services/planning.png' %}"></i> 
                  <h4>Management</h4>
                  <p>Building a Management team and Policies for them.</p>
                </li>
                <li class="right">
                  <i><img src="{% static 'assets/img/services/planning.png' %}"></i> 
                  <h4>Support</h4>
                  <p>Provide support and help them outsource process to right companies.</p>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- ======= End Section ======= -->
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->
  {% endblock %}