{% extends 'base.html' %}
{% load static %}
{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

      </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">
        <div class="section-title">
          <p>Our Free Services With<span style="color:#d9232d;"> Membership</span></p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box">
              <i><img src="{% static 'assets/img/services/compliance.png' %}"></i>
              <h4><a href="#">FREE COMPANY COMPLIANCE'S</a></h4>
              <p>We support our incubate to file all yearly complaince of<br/> firm/ LLP/ private limited /Limited company.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i><img src="{% static 'assets/img/services/company.png' %}"></i>
              <h4><a href="#">FREE COMPANY INCORPORATION</a></h4>
              <p>We support our incubate to registered a company to his/her business. Incubate does not have to pay any Professional fee.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i><img src="{% static 'assets/img/services/gst.png' %}"></i>
              <h4><a href="#">FREE GST FILING</a></h4>
              <p>We support our incubate entrepreneurs to file monthly GST Filing support via our Connect ERP Software.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i><img src="{% static 'assets/img/services/lawyer.png' %}"></i>
              <h4><a href="#">FREE LEGAL SUPPORT</a></h4>
              <p>We support our incubate entrepreneurs to legal support and pre ready agreement</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i><img src="{% static 'assets/img/services/crm.png' %}"></i>
              <h4><a href="#">SALES CRM</a></h4>
              <p>Support with free Sales CRM So that our incubate can track record and leads.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i><img src="{% static 'assets/img/services/hr.png' %}"></i>
              <h4><a href="#">VIRTUAL HR SERVICES</a></h4>
              <p>We Provide Support to our incubate Startup & SME Virtual HR Services.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i><img src="{% static 'assets/img/services/profits.png' %}"></i>
              <h4><a href="#">FUNDRAISING ADVISORY</a></h4>
              <p>We support our Incubate to give fundraising advisory, Help them to approach Investors.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i><img src="{% static 'assets/img/services/social.png' %}"></i>
              <h4><a href="#">BUSINESS NETWORKING</a></h4>
              <p>We help our incubate to connect with other entrepreneurs & Investors. So they can promote their business in our connect community</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i><img src="{% static 'assets/img/services/ipo.png' %}"></i>
              <h4><a href="#">ROADMAP TO IPO</a></h4>
              <p>We are help our incubate Startup & SME to develop Roadmap for Startup IPO & SME IPO.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">
        <div class="section-title">
          <p>Our Process & <span style="color:#d9232d">Premium Services</span></p>
        </div>
        <div class="row content">
          <div class="col-md-6">
            <ul>
              <li><i class="ri-check-double-line"></i> <h4 class="right">SOP Development </h4></li>
              <li><i class="ri-check-double-line"></i> <h4 class="left">People Management </h4></li>
              <li><i class="ri-check-double-line"></i> <h4 class="right">Market Research </h4></li>
              <li><i class="ri-check-double-line"></i> <h4 class="left">Make your business Global </h4></li>
              <li><i class="ri-check-double-line"></i> <h4 class="right">Investor Road Show </h4></li>
              <li><i class="ri-check-double-line"></i> <h4 class="left">Internal & External Audit </h4></li>
              <li><i class="ri-check-double-line"></i> <h4 class="right">IT Audit </h4></li>
              <li><i class="ri-check-double-line"></i> <h4 class="left">Training & Workshops </h4></li>
              <li><i class="ri-check-double-line"></i> <h4 class="right">Reputation Management </h4></li>
              <li><i class="ri-check-double-line"></i> <h4 class="left">Intellectual property </h4></li>
              <li><i class="ri-check-double-line"></i> <h4 class="right">OKR Development </h4></li>
              <li><i class="ri-check-double-line"></i> <h4 class="left"> Business Automation </h4></li>
            </ul>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <ul>
              <div class="icon-box">
                <li class="left">
                  <i><img src="{% static 'assets/img/services/planning.png' %}"></i> 
                  <h4>Planing</h4>
                  <p>Planning for Company Growth or launch a New Project/Product.</p>
                </li>
                <li class="right"> 
                  <i><img src="{% static 'assets/img/services/organization.png' %}"></i> 
                  <h4>Organization</h4>
                  <p>Organization OKR & Supporting Advisory Board.</p>
                </li>
                <li class="left">
                  <i><img src="{% static 'assets/img/services/planning.png' %}"></i> 
                  <h4>Management</h4>
                  <p>Building a Management team and Policies for them.</p>
                </li>
                <li class="right">
                  <i><img src="{% static 'assets/img/services/planning.png' %}"></i> 
                  <h4>Support</h4>
                  <p>Provide support and help them outsource process to right companies.</p>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- ======= End Section ======= -->
    <section id="End-section" class="End-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3>ECOSYSTEMS</h3>
            <h4>Building thriving startup ecosystems: </h4>
            <p>
              As one of the world's largest incubators, we plan to expand our global presence outside funding. 
              We are dedicated to creating collaborative technology communities worldwide through our collaborations with corporate, 
              founders, governments and foundations. We have 50 + development and acceleration initiatives to create regional economies, 
              funding over 1,500 start-ups across 15 nations, and partnering with more than 100 companies through training, 
              advantages, and alliances for creativity.
            </p>
            <h3>VC & ANGEL INVESTOR CONNECT</h3>
            <p>
              Our VC Connect services incorporate real-world interactions and action-based drills to further 
              fine-tune and adapt their investing plans to existing and potential investors.Join other up-and - coming investors 
              and learn from our partners about the 100 rule book, screen live startup pitches, discuss peer agreements 
              and negotiate with 500 business units in hands-on master classes.
            </p>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <ul>
              <li>
                <h4>Corporate Innovation</h4>
                <p>
                  Startups hold the key to the growth and the technological advances. 
                  Our strength is to stay ahead of the game and support our clients identify and invest in the brightest.
                </p>
              </li>
              <li>
                <h4>Founder Program</h4>
                <p>
                  250 Entrepreneurs have run 50 + development and acceleration initiatives 
                  that fund more than 1,500 companies in 15 countries. Providing business preparation to meet their objectives.
                </p>
              </li>
              <li>
                <h4>Govt & Foundation</h4>
                <p>
                  By tailored accelerators, bootcamps and trade initiatives, we help boost national economies,
                  which in effect recruit and preserve expertise, capital and accelerate creativity.
                </p>
              </li>
            </ul>
          </div>
          <br/>
          <div class="span-12">
            <div class="section-title">
              <h2>Want To Know More</h2>
              <h5>Feel Free To <a href="{% url 'contact' %}">Contact</a>  Us.</h5>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->
  {% endblock %}