{% extends 'base.html' %}
{% load static %}
{% block content %}
<p>&nbsp;</p>
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <iframe width="1110" height="510" src="https://www.youtube.com/embed/jpVgCg4XRfE" title="youtube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <p>&nbsp;</p>
        <div class="container">
        <div class="jumbotron" style="background-color: rgb(125, 224, 208);">
        <div class="content">
          <h3 style="text-align: center; color:red"><u><b>ABOUT US</b></u></h3>
        </div>
        
        <div class="row content" style="color: rgb(12, 83, 177);">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <br/>
            <!--<h2 style='color:#d9232d'>Co-Working Centers:-</h2-->
            <h5 align="justify">Connect195 is a platform connecting businesses with sales professionals for executing their business development tasks more efficiently than ever before. 
              We are a unique platform which provides All in one Sales & Business Development solution to a company.</h5>
            <!--<img src="{% static 'assets/img/about/consultancy.jpeg' %}" class="img-fluid" alt=""-->
            </div>
            <div  class="col-lg-6 col-md-6 col-sm-12">&nbsp;</div>
            <div  class="col-lg-6 col-md-6 col-sm-12">&nbsp;</div>
            <div class="col-lg-6 col-md-6 col-sm-12">
            <!--<h2  style='color:#d9232d'>Coorporate Locations:-</h2-->
            <h5 align="justify">Instead of going through the repetitive cycle of hiring, training & finding good sales employees for their products and services; 
              with Connect195, the companies can directly connect with talented sales professionals from our rapidly growing network of sales professionals around
               the world. Companies can also take advantage of the network effect from our platform to boost their sales figures and also do market research
                or lead generation for themselves. 
              They need not worry about sales targets before launching in new markets. </h5>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <!--<img src="{% static 'assets/img/about/coworking.jpg' %}" class="img-fluid" alt=""-->
            <!--<h2 style='color:#d9232d'>Consultancy:-</h2-->
            <h5 align="justify">Sales Professionals from world-wide can come to our platform for an earning opportunity and even start a career as an 
              independent sales person so that they can help multiple businesses via their network and expertise. They no longer have to be 
              stuck with a single company or industry to build their professional business development career. 
              Professionals can choose from many businesses and promote products and services of the companies they like and believe in.</h5>
            <!--<img src="{% static 'assets/img/about/corporate.jpg' %}" class="img-fluid" alt=""-->
            </div>
            <div  class="col-lg-6 col-md-6 col-sm-12">&nbsp;</div>
            <div  class="col-lg-6 col-md-6 col-sm-12">&nbsp;</div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <!--<img src="{% static 'assets/img/about/coworking.jpg' %}" class="img-fluid" alt=""-->
              <!--<h2 style='color:#d9232d'>Consultancy:-</h2-->
              <h5 align="justify">At Connect195, we are making a big ecosystem which will benefit both companies and 
                professionals in the business development industry by trying to improve their efficiency. 
                 Our goal is to make the biggest business development platform of the world. </h5>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->
    <!-- ======= Team Section ======= -->
    <!--<section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Team</h2>
          <p>Our Hardworking Team</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'assets/img/team/bob.jpeg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Mr. Bob</h4>
                <span>Chief Executive Officer And Director</span>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'assets/img/team/sachin.png' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Mr. Sachin Sheoran</h4>
                <span>Director</span>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'assets/img/team/ashish.jpeg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Mr. Ashish</h4>
                <span>Lawyer</span>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'assets/img/team/chandan.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Mr. Chandan</h4>
                <span>Chattered Accountant</span>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Team Section -->
  </main><!-- End #main -->
  {% endblock %}