{% extends 'base.html' %}
{% load static %}
{% block content %}

        <div class="container"><br/><br/><br/><br/>
          <iframe width="1080" height="500" src="https://www.youtube.com/embed/jpVgCg4XRfE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><BR><BR><BR>
              </div>
              <!--<div class="section-title"></div-->
              <div class="container">
              <h1 class="text-center">how connect195 <u class="text-bold text-danger pb-4">will help you?</u></h1><hr> 
              <div class="row pt-5">
                <div class="col-md-4">
                  <div align="center" class="icon-box">
                    <img src="{% static 'assets/img/services/hr.png' %}"> 
                    <h4><a href="#"><b>FIND RELEVANT SALES PEOPLE:-</b></a></h4>
                    <p>Our platform will match you with your industry's salesperson anywhere in the world.</p>
                  </div>
                </div>

                <div class="col-md-4 mt-4 mt-md-0">
                    <div class="icon-box">
                    <center><img src="{% static 'assets/img/services/organization.png' %}"></center> 
                      <h4 align="center"><a href="#"><b>GENERATE LEADS:-</b></a></h4>
                      <p>let the agents on our platform do the market research for you and generate quality leads.</p>
                    </div>
                  </div>

                   <div class="col-md-4 mt-4 mt-md-0">
                    <div class="icon-box">
                      <center><img src="{% static 'assets/img/services/social.png' %}"></center> 
                      <h4><a href="#"><b>REDUCE HIRING COSTS:-</b></a></h4>
                      <p>shift to a new and automated way of doing sales for your organisation.move on from managing costly sales team.</p>
                    </div>
                  </div>
                </div>
              </div>
                    <div class="container">
                    <div class="row pt-5" style="padding-left: 10%;">
                    <div class="col-md-6">
                      <div class="icon-box">
                        <!--<i class="icofont-computer"></i-->
                      <!-- <center><img src="{% static 'assets/img/services/company.png' %}"></center>   -->
                       <h4><a href="#"><U><b>TRADITIONAL SALES PROCEDURE</U></b></a></h4>
                        <p><u><b>inforgraphic:-</b></u></p>
                        <ul>
                        <li>take multiple interviews</li>
                          <li>give trainings</li>
                          <li>give advance salary</li>
                          <li>manage sales employees</li>
                          <li>employee churn rate</li>
                          <li>poor results</li>
                          <li>collect & short resume</li>
                          </ul>  
                      </div>
                    </div>

                      <div class="col-md-6">
                        <div class="icon-box">
                          <!--<i class="icofont-computer"></i-->
                          <!-- <center><img src="{% static 'assets/img/services/compliance.png' %}"></center>  -->
                          <h4><a href="#"><b><U>CONNECT195 SALES PROCEDURE</U></b></a></h4>
                          <p><u><b>inforgraphic:-</b></u></p>
                          <ul>
                          <li>take connect195 subscription</li>
                          <li>meet relevant sales people</li>
                          <li>achieves sales target</li>
                          <li>pay commissinos later</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

          <section id="services" class="services">
            <div class="container">
              <div class="section-title">
                <h2 style="color:red;">Service</h2>
                <p>What we offer-</p>
              </div>
              <h3>The only platform that provides <b><u style="color:red;">All in One Sales</u></b> Solutions</h3>
              <p>The easiest way for companies and sales freelancers to connect and manage successful</p>
        
              <div class="row">
                <div class="col-md-6">
                  <div class="icon-box">
                    <i class="icofont-computer"></i>
                    <h4><a href="#">Connect</a></h4>
                    <p>Our team of expert help you to build website and mobile application to reach more customers.</p>
                  </div>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                  <div class="icon-box">
                    <i class="icofont-chart-bar-graph"></i>
                    <h4><a href="#">Manage</a></h4>
                    <p>We help that how to start your business. Provide all kind of basic support to starting a business. Our expert start helping you from basic steps.</p>
                  </div>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                  <div class="icon-box">
                    <i class="icofont-calculator"></i>
                    <h4><a href="#">Collaborate</a></h4>
                    <p>We provide professional support to complete all kind of accounting and compliance's work. Our connected CA firms support entrepreneurs all over India.</p>
                  </div>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                  <div class="icon-box">
                    <i class="icofont-lawyer"></i>
                    <h4><a href="#">Sales Pipeline</a></h4>
                    <p>We help you to get free legal advisory with a team of corporate lawyers.</p>
                  </div>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                  <div class="icon-box">
                    <i class="icofont-tasks"></i>
                    <h4><a href="#">Training</a></h4>
                    <p>we help entrepreneur and their team to grow, we provide training to all of them.</p>
                  </div>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                  <div class="icon-box">
                    <i class="icofont-tasks"></i>
                    <h4><a href="#">Performance Tracking</a></h4>
                    <p>Provide consultancy to Company to launch their IPO. help them to raise funding.</p>
                  </div>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                  <div class="icon-box">
                    <i class="icofont-money"></i>
                    <h4><a href="#">Payment</a></h4>
                    <p>we help entrepreneur and their team to grow, we provide training to all of them.</p>
                  </div>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                  <div class="icon-box">
                    <i class="icofont-support"></i>
                    <h4><a href="#">Support</a></h4>
                    <p>Provide consultancy to Company to launch their IPO. help them to raise funding.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="story" name="story">
        <div class="container">
        <div class="row" style="margin-top: 2%;">
          <div class="col-lg-6  col-md-6">
                <img src="{% static 'assets/img/insight/communicate.jpg' %}" alt="" class="img-thumbnail">
              </div>  
            <div class="col-lg-6  col-md-6"> 
               <a href="{% url 'blog1' %}" style="color:green;"><b>Communication:-</b></a>
                <p align="justify" style="padding-top: 7px; line-height: 39px;">
                  Sales streams bring together everything needed to produce great work: messages, attachments, feedback, payment and a lot more — all in one place.
                   Receive real-time notifications, track Sales Partners progress and revisit your chat history. Managing a Sales Partners has never been easier. 
                </p>
              </div>
            </div>

            <div class="row" style="margin-top: 2%;">
              <div class="col-lg-6  col-md-6">
                <a href="{% url 'blog1' %}" style="color:green;"><b>What benefits will you get:-</b></a>
                <p align="justify" style="padding-top: 7px; line-height: 39px;">
                  Access the world's fastest growing pool of experienced independent sales experts
                  Penetrate new markets or ramp up sales in existing territories
                  Faster route to new markets by connecting with agents who have extensive pre-existing networks of contacts in your industry
                  Eliminate the cost and the risk of hiring in-house employees
                  Simply manage multiple remote working sales agents globally
                </p>
                </div>  
                <div class="col-lg-6  col-md-6"> 
                   <img src="{% static 'assets/img/insight/product.jpg' %}" alt="" class="img-thumbnail">
                  </div>
                </div>
    
                <div class="row" style="margin-top: 2%;">
                  <div class="col-lg-6  col-md-6">
                        <img src="{% static 'assets/img/insight/project.jpg' %}" alt="" class="img-thumbnail">
                      </div>  
                    <div class="col-lg-6  col-md-6"> 
                       <a href="{% url 'blog1' %}" style="color:green;"><b>post on opportunity:-</b></a>
                        <p align="justify" style="padding-top: 7px;">
                          Use our quick and easy form to describe the opportunity you’ve got in mind. The more detail you can give, the more relevant Sales Partners you’ll attract.</p>
                        <p>Our artificial intelligence system does the hard work — matching and contacting the best Sales Partners for your opportunities. Each Sales Partners then responds with their own tailored proposal.</p>
                        <p>Review proposals, pick your Sales Partners and pay a deposit to start the opportunities. Once your Sales cycle has been completed — and you are totally satisfied — pay the Sales Partners through our protected payments system
                        </p>
                      </div>
                    </div>

                    <div class="row" style="margin-top: 5%;">
                      <div class="col-lg-12  col-md-6">
                        <img src="{% static 'assets/img/insight/projects.jpg' %}" alt="" class="img-thumbnail">
                          <a href="{% url 'blog1' %}" style="color:green;"><b>Discover incredible Sales Partners:-</b></a>
                          <p align="justify">
                              Search our Sales Partners listings for rated and reviewed experts in every skill imaginable — One discovery could change your business forever.
                              <p>Refine your search by skill, location or expertise. Contact Sales Partners and request a proposal for your opportunities.</p>
                              <h5><u>Pay Sales Partners with a push of button</u></h5>
                              <p>At the end of a Sales cycle and only once you’re totally happy with the work done, pay Sales Partners with ease straight from your Sales stream. 
                              Click pay and funds are released to your Sales Partners. Top-up your PeoplePerHour account and make future payments even easier.</p>
                              <p>Your account keeps your money safe until you release it to your Sales Partners. If ever you’re not happy to release funds to a Sales Partners, 
                              every account comes with access to our customer support team who will help resolve any dispute — keeping your money safe, no matter what happens.</p>
                              <h5><u>Rate your Sales Partners</u></h5>
                              <p>We take the quality of our Sales Partners very seriously. 
                              That’s why leaving your feedback after a sales cycle is so important to us. Reward your Sales Partners for their hard work — give them a rating out of five, 
                              write an in-depth review and share your experience with future clients. 
                              Your feedback makes a huge difference to the community.</p>                           
                        </div>
                      </div>
                      </div>
                    </section>

    {% endblock %}