<!--{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main id="main">

      <!-Hero Area Start -->
      <div id="hero-area" class="hero-area-bg">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-9 col-sm-12">
              <div class="contents text-center">
                <p class="banner-info">10, Oct 2020 - Oberoi Hotel, Gurugram</p>
                <h2 class="head-title">Co-working Conference</h2>
                <p class="banner-desc">
                  A confrence to tell you about the co-working in India.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Area End -->

    </header>
    <!-- Header Area wrapper End -->

    <!-- About Section Start -->
    <section id="about" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="img-thumb">
              <img class="img-fluid" src="{% static 'assets/events/assets/img/about/img1.png' %}" alt="">
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="about-content">
              <div>
                <div class="about-text">  
                  <h2>About The Conference</h2>
                  <p>This confrence is for you peoples.</p>
                </div>
                <ul class="stylish-list mb-3">
                  <li><i class="lni-check-mark-circle"></i>Networking Sessions</li>
                  <li><i class="lni-check-mark-circle"></i>Meet New Professional Faces</li>
                  <li><i class="lni-check-mark-circle"></i>Get Inspired by Amazing Speakers</li>
                </ul>
                <a class="btn btn-common" href="#">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About Section End -->

    <!-- Video Section Start -->
    <div class="ready-to-play">
      <video id="bgvid" class="stop" loop>
        <source src="{% static 'assets/events/assets/video/event.webm' %}" type="video/mp4">
      </video>
      <div id="polina" class="video-text">
        <div class="tb-t">
            <div class="tb-c">
              <div class="polina"><button><i class='lni-play'></i></button></div>
            </div>
        </div>
      </div>
    </div>
    <!-- Video Section End -->

    <!-- Information Bar Start -->
    <section id="information-bar">
      <div class="container">
        <div class="row inforation-wrapper">
          <div class="col-lg-3 col-md-6 col-xs-12">
            <ul>
              <li>
                <i class="lni-map-marker"></i>
              </li>
              <li><span><b>Location</b> Gurugram, India</span></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <ul>
              <li>
                <i class="lni-calendar"></i>
              </li>
              <li><span><b>Date & Time</b> 10am - 7pm, 10th Oct</span></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <ul>
              <li>
                <i class="lni-mic"></i>
              </li>
              <li><span><b>Speakers</b> 25 Professionals</span></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <ul>
              <li>
                <i class="lni-user"></i>
              </li>
              <li><span><b>Seats</b> 100 People</span></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- Information Bar End -->

     <!-- intro Section Start -->
    <section id="intro" class="intro section-padding">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title-header text-center">
              <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Why You Should Join?</h2>
              <p class="wow fadeInDown" data-wow-delay="0.2s">This will change your life <br> Make you best.</p>
            </div>
          </div>
        </div>
        <div class="row intro-wrapper">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="single-intro-text mb-70">
               <i class="lni-microphone"></i>
               <h3>Great Speakers</h3>
               <p>
                  To boost your self.
               </p>
               <span class="count-number">01</span>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="single-intro-text">
               <i class="lni-users"></i>
               <h3 class="ts-title">New People</h3>
               <p>
                  to know.
               </p>
               <span class="count-number">02</span>
            </div>
            <div class="border-shap left"></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="single-intro-text mb-70">
               <i class="lni-bullhorn"></i>
               <h3>Global Event</h3>
               <p>
                  to understand.
               </p>
               <span class="count-number">03</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- intro Section End -->
  
    <!-- Counter Area Start-->
    <section class="counter-section section-padding">
      <div class="container">
        <div class="row">
          <!-- Counter Item -->
          <div class="col-lg-3 col-md-6 col-xs-12 work-counter-widget">
            <div class="counter">
              <div class="icon">
                <i class="lni-mic"></i>
              </div>
              <div class="counter-content">
                <div class="counterUp">42</div>
                <p>Spekers</p>
              </div>
            </div>
          </div>
          <!-- Counter Item -->
          <div class="col-lg-3 col-md-6 col-xs-12 work-counter-widget">
            <div class="counter">
              <div class="icon">
                <i class="lni-bulb"></i>
              </div>
              <div class="counter-content">
                <div class="counterUp">800</div>
                <p>Seats</p>
              </div>
            </div>
          </div>
          <!-- Counter Item -->
          <div class="col-lg-3 col-md-6 col-xs-12 work-counter-widget">
            <div class="counter">
              <div class="icon">
                <i class="lni-briefcase"></i>
              </div>
              <div class="counter-content">
                <div class="counterUp">24</div>
                <p>Sponsors</p>
              </div>
            </div>
          </div>
          <!-- Counter Item -->
          <div class="col-lg-3 col-md-6 col-xs-12 work-counter-widget">
            <div class="counter">
              <div class="icon">
                <i class="lni-coffee-cup"></i>
              </div>
              <div class="counter-content">
                <div class="counterUp">56</div>
                <p>Sessions</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Counter Area End-->

    <!-- Schedule Section Start -->
    <section id="schedules" class="schedule section-padding">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title-header text-center">
              <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Event Schedules</h2>
              <p class="wow fadeInDown" data-wow-delay="0.2s">This session would be given by Industry Professionals.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-5 text-center">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="monday-tab" data-toggle="tab" href="#monday" role="tab" aria-controls="monday" aria-expanded="true">
                  <div class="item-text">
                    <h4>Day 01</h4>
                    <h5>14 February 2020</h5>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tuesday-tab" data-toggle="tab" href="#tuesday" role="tab" aria-controls="tuesday">
                  <div class="item-text">
                    <h4>Day 02</h4>
                    <h5>15 February 2020</h5>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-12">
            <div class="schedule-area row wow fadeInDown" data-wow-delay="0.3s">
              <div class="schedule-tab-content col-12 clearfix">
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="monday" role="tabpanel" aria-labelledby="monday-tab">
                    <div id="accordion">
                      <div class="card">
                        <div id="headingOne">
                          <div class="schedule-slot-time">
                            <span> 9.30 - 10.30 AM</span>
                            Workshop
                          </div>
                          <div class="collapsed card-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <div class="images-box">
                              <img class="img-fluid" src="{% static 'assets/events/assets/img/speaker/speakers-1.jpg' %}" alt="">
                            </div>                     
                            <h4>Web Design Principles and Best Practices</h4>
                            <h5 class="name">David Warner</h5>
                          </div>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body">
                            <p>what is web designing?</p>
                            <div class="location">
                              <span>Location:</span> Hall 1 , Building A, Oberoi Hotel, Gurugram
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div id="headingTwo">
                          <div class="schedule-slot-time">
                            <span> 10.30 - 11.30 AM</span>
                            Workshop
                          </div>
                          <div class="collapsed card-header" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <div class="images-box">
                              <img class="img-fluid" src="{% static 'assets/events/assets/img/speaker/speakers-2.jpg' %}" alt="">
                            </div>
                            <h4>15 Free Productive Design Tools</h4>
                            <h5 class="name">David Warner</h5>
                          </div>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                          <div class="card-body">
                            <p>What are tools?</p>
                            <div class="location">
                              <span>Location:</span> Hall 1 , Building A, Oberoi Hotel, Gurugram
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div id="headingThree">
                          <div class="schedule-slot-time">
                            <span> 11.30 - 12.30 AM</span>
                            Workshop
                          </div>
                          <div class="collapsed card-header" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <div class="images-box">
                              <img class="img-fluid" src="{% static 'assets/events/assets/img/speaker/speakers-3.jpg' %}" alt="">
                            </div>
                            <h4>Getting Started With SketchApp</h4>
                            <h5 class="name">David Warner</h5>
                          </div>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                          <div class="card-body">
                            <p>How to sketch?</p>
                            <div class="location">
                              <span>Location:</span> Hall 1 , Building A, Oberoi Hotel, Gurugram
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="tuesday" role="tabpanel" aria-labelledby="tuesday-tab">
                    <div id="accordion2">
                      <div class="card">
                        <div id="headingOne1">
                          <div class="schedule-slot-time">
                            <span> 1.30 - 2.30 AM</span>
                            Workshop
                          </div>
                          <div class="collapsed card-header" data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                            <div class="images-box">
                              <img class="img-fluid" src="{% static 'assets/events/assets/img/speaker/speakers-2.jpg' %}" alt="">
                            </div>
                            <h4>Web Design Principles and Best Practices</h4>
                            <h5 class="name">David Warner</h5>
                          </div>
                        </div>
                        <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne1" data-parent="#accordion2">
                          <div class="card-body">
                            <p>what is Design?</p>
                            <div class="location">
                              <span>Location:</span> Hall 1 , Building A, Oberoi Hotel, Gurugram
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div id="headingTwo2">
                          <div class="schedule-slot-time">
                            <span> 9.30 - 10.30 AM</span>
                            Workshop
                          </div>
                          <div class="collapsed card-header" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                            <div class="images-box">
                              <img class="img-fluid" src="{% static 'assets/events/assets/img/speaker/speakers-1.jpg' %}" alt="">
                            </div>
                            <h4>Web Design Principles and Best Practices</h4>
                            <h5 class="name">David Warner</h5>
                          </div>
                        </div>
                        <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2" data-parent="#accordion2">
                          <div class="card-body">
                            <p>Best Practices?</p>
                            <div class="location">
                              <span>Location:</span> Hall 1 , Building A, Oberoi Hotel, Gurugram
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Schedule Section End -->

    <!-- Team Section Start -->
    <section id="team" class="section-padding text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title-header text-center">
              <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Our Speakers</h2>
              <p class="wow fadeInDown" data-wow-delay="0.2s">Our Motivated Speakes for the Evening .</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-bt">
          <div class="col-lg-3 col-md-6 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInUp" data-wow-delay="0.2s">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'assets/events/assets/img/team/team-01.jpg' %}" alt="">
                <div class="team-overlay">
                  <div class="overlay-social-icon text-center">
                    <ul class="social-icons">
                      <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="lni-google" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="lni-pinterest" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="info-text">
                <h3><a href="#">JONATHON DOE</a></h3>
                <p>Product Designer, Tesla</p>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'assets/events/assets/img/team/team-02.jpg' %}" alt="">
                <div class="team-overlay">
                  <div class="overlay-social-icon text-center">
                    <ul class="social-icons">
                      <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="lni-google" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="lni-pinterest" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="info-text">
                <h3><a href="#">Patric Green</a></h3>
                <p>Front-end Developer</p>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>

          <div class="col-lg-3 col-md-6 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInUp" data-wow-delay="0.6s">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'assets/events/assets/img/team/team-03.jpg' %}" alt="">
                <div class="team-overlay">
                  <div class="overlay-social-icon text-center">
                    <ul class="social-icons">
                      <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="lni-google" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="lni-pinterest" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="info-text">
                <h3><a href="#">Paul Kowalsy</a></h3>
                <p>Lead Designer, TNW</p>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>

          <div class="col-lg-3 col-md-6 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInUp" data-wow-delay="0.8s">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'assets/events/assets/img/team/team-04.jpg' %}" alt="">
                <div class="team-overlay">
                  <div class="overlay-social-icon text-center">
                    <ul class="social-icons">
                      <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="lni-google" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="lni-pinterest" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="info-text">
                <h3><a href="#">Jhon Doe</a></h3>
                <p>Back-end Developer, ASUS</p>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>

          <div class="col-lg-3 col-md-6 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInUp" data-wow-delay="1s">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'assets/events/assets/img/team/team-05.jpg' %}" alt="">
                <div class="team-overlay">
                  <div class="overlay-social-icon text-center">
                    <ul class="social-icons">
                      <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="lni-google" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="lni-pinterest" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="info-text">
                <h3><a href="#">Daryl Dixon</a></h3>
                <p>Full-stack Developer, Google</p>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>

          <div class="col-lg-3 col-md-6 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInUp" data-wow-delay="1.2s">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'assets/events/assets/img/team/team-06.jpg' %}" alt="">
                <div class="team-overlay">
                  <div class="overlay-social-icon text-center">
                    <ul class="social-icons">
                      <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="lni-google" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="lni-pinterest" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="info-text">
                <h3><a href="#">Chris Adams</a></h3>
                <p>UI Designer, Apple</p>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>

          <div class="col-lg-3 col-md-6 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInUp" data-wow-delay="1.4s">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'assets/events/assets/img/team/team-07.jpg' %}" alt="">
                <div class="team-overlay">
                  <div class="overlay-social-icon text-center">
                    <ul class="social-icons">
                      <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="lni-google" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="lni-pinterest" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="info-text">
                <h3><a href="#">Paul Kowalsy</a></h3>
                <p>Lead Designer, TNW</p>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>

          <div class="col-lg-3 col-md-6 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInUp" data-wow-delay="1.6s">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'assets/events/assets/img/team/team-08.jpg' %}" alt="">
                <div class="team-overlay">
                  <div class="overlay-social-icon text-center">
                    <ul class="social-icons">
                      <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="lni-google" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="lni-pinterest" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="info-text">
                <h3><a href="#">Jhon Doe</a></h3>
                <p>Back-end Developer, ASUS</p>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>
        </div>
      </div>
    </section>
    <!-- Team Section End -->

    <!-- Sponsors Section Start -->
    <section id="sponsors" class="section-padding">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title-header text-center">
              <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Sponsors</h2>
              <p class="wow fadeInDown" data-wow-delay="0.2s">Our Sponsors for the evening.</p>
            </div>
          </div>
        </div>
        <div class="row mb-30 text-center wow fadeInDown" data-wow-delay="0.3s">
          <div class="col-lg-12">
            <div class="sponsors-logo text-center">
               <a href=""><img src="{% static 'assets/img/clients/client-1.png' %}" alt=""></a>
               <a href=""><img src="{% static 'assets/img/clients/client-2.png' %}" alt=""></a>
               <a href=""><img src="{% static 'assets/img/clients/client-3.png' %}" alt=""></a>

            </div><!-- sponsors logo end-->
         </div>
        </div>
      </div>
    </section>
    <!-- Sponsors Section End -->

    <!-- Contact Us Section -->
    <section id="contact-map" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title-header text-center">
              <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Contact Us</h2>
              <p class="wow fadeInDown" data-wow-delay="0.2s">Please Free to contact Us.</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-12 col-xs-12">
            <div class="container-form wow fadeInLeft" data-wow-delay="0.2s">
              <div class="form-wrapper">
                <form role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator">
                  <div class="row">
                    <div class="col-md-6 form-line">
                      <div class="form-group">
                        <input type="text" class="form-control" id="name" name="email" placeholder="First Name" required data-error="Please enter your name">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-6 form-line">
                      <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required data-error="Please enter your Email">
                        <div class="help-block with-errors"></div>
                      </div> 
                    </div>
                    <div class="col-md-12 form-line">
                      <div class="form-group">
                        <input type="tel" class="form-control" id="msg_subject" name="subject" placeholder="Subject" required data-error="Please enter your message subject">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea class="form-control" rows="4" id="message" name="message" required data-error="Write your message"></textarea>
                      </div>
                      <div class="form-submit">
                        <button type="submit" class="btn btn-common" id="form-submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Send Message</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact Us Section End -->

    <!-- Map Section Start -->
    <section id="google-map-area">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <object style="border:0; height: 450px; width: 100%;" data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15864.15480778837!2d-77.44908382752939!3d38.953293865566366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6775cb22a9fa1341!2sThe+Firkin+%26+Fox!5e0!3m2!1sen!2sbd!4v1543773685573"></object>
          </div>
        </div>
      </div>
    </section>
    <!-- Map Section End -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Connect195</h3>
              <p>
                <strong>Address:</strong> HBF CONNECT,<br>H 11, H Block,<br> Sector 63, Noida,<br> Uttar Pradesh 20130<br>
                <strong>Phone:</strong> 099713 37447<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about' %}">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'contact' %}">Contact</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'services' %}">FAQs</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Free Support</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Locations</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Banglore</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Delhi</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'gurugram' %}">Gurugram</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Hyderabad</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Mumbai</a></li>
          </ul>
        </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p></p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>
    <div class="container">
      <div class="copyright">
        &copy; Copyright 2020 - <strong><span>Connect195</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
    	<i class="lni-chevron-up"></i>
    </a>

    <div id="preloader">
      <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'assets/events/assets/js/jquery-min.js' %}"></script>
    <script src="{% static 'assets/events/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/events/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/events/assets/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/events/assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/events/assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/events/assets/js/jquery.nav.js' %}"></script>
    <script src="{% static 'assets/events/assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/events/assets/js/wow.js' %}"></script>
    <script src="{% static 'assets/events/assets/js/nivo-lightbox.js' %}"></script>
    <script src="{% static 'assets/events/assets/js/video.js' %}"></script>
    <script src="{% static 'assets/events/assets/js/main.js' %}"></script>      
  </body>
</html>
{% endblock %}